.main
  .header
    h1
      a(href="https://github.com/PaperElectron/Magic-Sprites") Magic Sprites
  ul
    each val in icons
      li
        .iconHolder
          div(class="icon #{val.className}")
          .iconData
            p name:&nbsp;
              span= val.name
            p class:&nbsp;
              span= val.className
            p hex:&nbsp;#
              span= val.hex
  .clearFix