doctype html
html(lang="en")
  head
    title SimpleIcons
    link(rel='stylesheet', href='/server/style.css')
    //link(rel='stylesheet', href='/assets/css/ghostsocial.css')
    link(rel='stylesheet', href='/assets/css/magic.min.css')
  body
    include icons