doctype html
html(lang="en")
  head
    title SimpleIcons
    link(rel='stylesheet', href='/server/style.css')
    link(rel='stylesheet', href="/server/#{cssFile}")
    link(rel="shortcut icon", href="/server/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/server/favicon.ico", type="image/x-icon")
  body
    include icons